<app-header></app-header>
<div id="login-container">
      <div class="login-form">
          <h1>INSCREVA-SE</h1>
            <button class="b1">
                  <img src="assets/icons/google-logo.svg" alt="Logo Google">
                  <span>Continuar com Google</span> 
            </button>
          <form [formGroup]="formCadastro">
              <input type="email" placeholder="E-mail" formControlName="email">
              <input type="password" placeholder="Senha" formControlName="senha">
              <button type="submit" (click)="createUserEmailAndPassword()">Cadastrar</button>
          </form>
          <span class="s"><a class="s" routerLink="/login">Voltar para Login</a></span>
      </div>
  </div>