.full-width{
      width: 100%;
}

.double-width{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.double-width .full-width{
      width: 48%;
}

.btn-submit{
      margin-top: 30px;
      background-color: #69B2F4;
      color: white;
}

.btn{
      margin-top: 30px;
      background-color: #718698;
      color: white;
}





