
<div *ngFor="let item of pList">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{item.nome}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.foto}}" alt="" *ngIf=" item.foto != '' ">
        <img mat-card-image src="https://igp.rs.gov.br/themes/modelo-noticias/images/outros/GD_imgSemImagem.png" alt="" *ngIf=" item.foto == '' ">
        <mat-card-content>
          <p>{{item.descricao}}</p>  
          <p>{{item.preco}}</p>
        </mat-card-content>
    </mat-card>
</div>