table{
      width: 100%;
}

.table-container{
      height: 60vh;
      overflow: auto;
      text-align: center;
}

th, td{
      height: 100px;
     text-align: center !important;
     
}

.avatar{
      width: 100px;
      height: 100px;
      border-radius: 50px;
}

.btn-new{
      position: absolute;
      right: 30px;
      bottom: 30px;
      background-color: #517fdc;
}

img{
      height: 100px;
      margin: 0 auto;
      
}